@{
    ViewData["Title"] = "Home Page";
}

<form asp-action ="Index">
<label>Nhap chieu cao :</label>
<input type="text" name="Chieucao">
<label>Nhap can nang :</label>
<input type="Text" name="Cannang">
<input type="Submit" value="Gui du lieu">
</form>
<h1>@ViewBag.Message</h1>
<h1>@ViewBag.BMI</h1>